language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  # - hhvm-nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.0
    # - php: hhvm-nightly

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - travis_retry composer self-update && composer --version
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction

script:
  - find . -type f -name "*.php" | grep -v vendor | xargs -n 1 php -l
  - make check-style
  - make test
